DATABASE_URL=
JWT_SECRET_KEY=
GEMINI_API_KEY=
GEMINI_FLASH_MODEL=
GEMINI_PRO_MODEL=
GEMINI_EMBEDDING_MODEL=
NODE_ENV=development
DISABLE_HMR=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
FASTAPI_UPSTREAM_URL=
